.section1{
width: 100%;
height: 600px;
.container{
    
    height: 600px;
   
    h3{
        font-size: 30px;
        margin-top: 50px;
        color: #551A8B;
    }
   .totals{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .count{
        margin-top: 40px;
        width: 630px;
        height: 350px;
        
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        .total{
            width: 300px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content:center ;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        .icon{
        margin-right: 25px;
        font-size: 30px;

        }
        .detail{
            margin-bottom: 35px;
            h3{
                color: black;
                font-size: 35px;
            }
        }
        }
    }
    .chart{
       
        height: 350px;
    
        box-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.4);

    }
   }
}
}